/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f4f4f9;
  color: #333;
  font-size: 16px;
}

h2 {
  color: #5c6bc0;
  text-align: center;
  margin-bottom: 20px;
}

/* Header Styles */
header {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 24px;
  font-weight: 600;
  color: #5c6bc0;
  display: inline-block;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  margin-left: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #5c6bc0;
}

/* Section Styles */
.section {
  padding: 40px 20px;
  margin: 20px 0;
}

#books {
  background-color: #ffffff;
}

.books-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.book-card {
  width: 250px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card img {
  width: 100%;
  max-height: 75%;
  object-fit:cover;
  border-radius: 8px;
}

.book-card h3 {
  margin-top: 15px;
  color: #5c6bc0;
}

/* Initially hide descriptions */
.book-description {
  display: none;
  margin-top: 10px;
  color: #777;
}

.book-card .description-btn {
  background-color: #5c6bc0;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.book-card .description-btn:hover {
  background-color: #3949ab;
}

.book-card .show-more {
  color: #5c6bc0;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
}

.book-card .show-more:hover {
  color: #3949ab;
}

/* Contact Section */
#contact {
  background-color: #ffffff;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  color: #888;
  font-size: 14px;
  border-top: 1px solid #ddd;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  .books-container {
    flex-direction: column;
    align-items: center;
  }

  .book-card {
    width: 90%;
  }
}

